:root {
    /* Colors */
    --color-text: #dddddd;
    --color-primary: #db3c39;
    --color-secondary: #303030;
    --color-dark: #101010;
    /* --color-bg: #04152d; */
    --color-bg: #0f0f0f;

    /* Fonts */
    --font-roboto: "Roboto";
}
